h1, h2 {
    font-family: sans-serif;
    color: blue;
}

h1 {
    border-bottom: 1px solid black;
}

p {
    font-family: sans-serif;
    color: maroon;
}

em {
    font-family: Serif;
    color: black;
}

.greenTea {
    color: green;
}

.back {
    text-decoration: none;
    color: grey;
}

@font-face {
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff");
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}

h1 {
    font-family: "Emblema One", Serif;
    font-weight: bold;
    font-style: italic;
}
