#elixirs {
    border-width: thin;
    border-style: solid;
    border-color: #007e7e;
    width: 200px;

    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    margin-left: 20px;

    text-align: center;
}

#image1, #image2, #image3, #image4 {
    width: 200px;
    height: 160px;
}
