h1, h2 {
    font-family: sans-serif;
    color: blue;
}

h1 {
    border-bottom: 1px solid black;
}

p {
    font-family: sans-serif;
    color: maroon;
}

em {
    font-family: Serif;
    color: black;
}
